@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 70%;
  height: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

nav ul {
  padding-top: 60px;
  @apply flex items-start flex-col gap-4; 
}

nav ul li {
  @apply font-bold text-lg cursor-pointer;
}

nav.open {
  top: 0;
  left: 0;
  background-color: white;
  @apply shadow-2xl p-8;
}

.close {
  @apply absolute top-8 left-8 w-10;
  z-index: 999;

}

@media (min-width:1024px) {
  .big-image {
    height: 900px;
  } 
}


